<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h2 class="bg-light">商品一覧</h2>
    </div>
    <div class="offset-md-8 col-md-1">
      <%= link_to new_admin_item_path do %>
        <i class="fas fa-plus fa-2x fa-kage" style="color: black;"></i>
      <% end %>
    </div>
  </div>
    <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name, admin_item_path(item) %></td>
            <td><%= item.price %></td>
            <td><%= item.genre.name %></td>
            <td><%= item.sales_status_i18n %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <div class="row">
      <div class="mx-auto">
        <%= paginate @items %>
      </div>
    </div>
</div>