<div class="conteiner">
  <div class:"row">
    <h2>商品詳細</h2>
    <%= image_tag @item.image, size: "200x200" %>
    <table>
      <tr>
        <th>商品名</th>
        <td><%= @item.name %></td>
      </tr>
      <tr>
        <th>商品説明</th>
        <td><%= @item.introduction %></td>
      </tr>
      <tr>
        <th>ジャンル</th>
        <td><%= @item.genre.name %></td>
      </tr>
      <tr>
        <th>
          税込価格<br>
          （税抜価格）
        </th>
        <td><%= @item.with_tax_price.to_s(:delimited) %>
          <%#= number_with_delimiter(@item.with_tax_price) %>円<br>
          （<%= number_with_delimiter(@item.price) %>円）</td>
      </tr>
      <tr>
        <th>販売ステータス</th>
        <td><%= @item.sales_status_i18n %></td>
      </tr>
    </table>
    <%= link_to "編集する", edit_admin_item_path(@item), class: 'btn btn-secondary' %>
  </div>
</div>