<div class="bg-top">
  <div class="main-text">
    <p class="font-weight-bold text-center">
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。<br>
    </p>
  </div>
</div>
<div class="container bg">
  <div class="row">
    <div class="col-md-2 mt-2 ml-4">
      <table class="table table-bordered ml-1">
        <thead>
          <th class="text-dark">ジャンル一覧</th>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <th>
                <div class="text-dark">
                  <%= genre.name %>
                </div>
              </th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="m-2">
      <h2 class="font-weight-bold text-dark">新着商品</h2>
      <div class="row wrapper-grid">
        <% @items. each do |item| %>
          <div class="mx-3 card" style="width: 12rem;">
            <div class="img mx-auto mt-2">
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.image, :size=> "180" %>
              <% end %>
            </div>
            <div class="font-weight-bold ml-2 text-dark"><%= item.name %></div>
            <div class="font-weight-bold ml-2 text-dark">¥<%= item.price %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text-right mb-4 mt-4">
        <u><%= link_to "全ての商品を見る＞",  items_path %></u>
      </div>
    </div>
  </div>
</div>