<div class="container"></br>
<h3>
  <span class="px-3" style="background-color:lightgray">
    <strong><%= @customer.last_name %><%= @customer.first_name %></strong>さんの<strong>会員情報編集</strong>
  </span>
</h3>
<div  class="p-3">
  <%= render 'layouts/errors', obj: @customer %>
</div>

<%= form_with model: @customer, url: admin_customer_path, method: :patch, local: true do |f| %>
<table class="table table-borderless align-middle">
  <tbody>
  <tr>
    <td>会員ID</td>
    <td><%= @customer.id %> </td>
  </tr>
  <tr>
    <td>名前</td>
    <td>
      <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
    </td>
    <td>
      <%= f.text_field :first_name, autofocus: true,class: "form-control" %>
    </td>
  </tr>
  <tr>
    <td>フリガナ</td>
    <td>
      <%= f.text_field :last_name_kana, autofocus: true, class: "form-control" %>
    </td>
    <td>
      <%= f.text_field :first_name_kana, autofocus: true, class: "form-control" %>
    </td>
  </tr>
  <tr>
    <td>郵便番号(ハイフンなし)</td>
    <td>
      <%= f.text_field :post_code, autofocus: true, autocomplete: "post_code", class: "form-control" %>
　　</td>
　</tr>
　<tr>
    <td>住所</td>
    <td colspan=2>
      <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control" %>
　　</td>
　</tr>
　<tr>
    <td>電話番号(ハイフンなし)</td>
    <td>
      <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control" %>
    </td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </td>
  </tr>
  <tr>
    <td>会員ステータス</td>
    <td>
    <div class="form-group">
    <%= f.radio_button :is_deleted, :false %>
    <%= f.label :"有効" %>
    <%= f.radio_button :is_deleted, :true %>
    <%= f.label :"退会" %>
    </div>
    </td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>
    <div class="form-group">
    <%= f.submit "変更を保存", class: "btn btn-success px-5" %>
    </div>
    </td>
  </tr>
  </tbody>
  </table>
<% end %>