<h2><%= @customer.first_name %><%= @customer.last_name %>さんの会員情報編集 </h2>

<%= form_with model: @customer, url: admin_customer_path(@customer.id),method: :patch, local: true do |f| %>
 <table>
  <thead>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
  <tr>
    <td>名前</td>
    <td>
    <div class="field">
      <%= f.label :first_name, "(姓)" %>
      <%= f.text_field :first_name, autofocus: true, class: "name" %>
    </td>
    <td>
      <%= f.label :last_name, "(名)" %>
      <%= f.text_field :last_name, autofocus: true, class: "name" %>
    </div>
    </td>
  </tr>
  <tr>
    <td>フリガナ</td>
    <td>
    <div class="field">
      <%= f.label :first_name_kana, "(セイ)" %>
      <%= f.text_field :first_name_kana, autofocus: true, class: "name" %>
    </td>
    <td>
      <%= f.label :last_name_kana, "(メイ)" %>
      <%= f.text_field :last_name_kana, autofocus: true, class: "name" %>
    </td>
    </div>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    </td>
    <td></td>
  </tr>
  <tr>
    <td>郵便番号(ハイフンなし)</td>
    <td>
    <div class="form-group">
      <%= f.text_field :post_code, autofocus: true, autocomplete: "post_code" %>
    </div>
　　</td>
　　<td></td>
　</tr>
　<tr>
    <td>住所</td>
    <td>
    <div class="form-group">
      <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
    </div>
　　</td>
　　<td></td>
　</tr>
　<tr>
    <td>電話番号(ハイフンなし)</td>
    <td>
    <div class="form-group>
      <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
    </div>
    </td>
    <td></td>
  </tr>
  <tr>
    <td>会員ステータス</td>
    <td>
    <div class="form-group">
    <%= f.radio_button :is_deleted, :false %>
    <%= f.label :"有効" %>
    <%= f.radio_button :is_deleted, :true %>
    <%= f.label :"退会" %>
    </div>
    </td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>
    <div class=form-group">
    <%= f.submit "変更を保存" %>
    </div>
    </td>
    <td></td>
  </tr>
  </tbody>
  </table>
<% end %>