<div class="container mt-3" style="margin-bottom: 2vh;">
  <h3>
    <span class="px-3" style="background-color:#EEEEEE">
      <strong>&emsp;会員一覧&emsp;</strong>
    </span>
  </h3><br>
  <table class="table table-reflow table-hover">
    <div class="col-md-9">
      <thead class ="table mb-5 pb-5"style="background-color:#EEEEEE" >
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody class="table table-borderless">
        <% @customers.each do |customer| %>
        <tr>
           <td><%= customer.id %></td>
           <td>
             <%= link_to admin_customer_path(customer.id) do %>
             <u><%= customer.first_name %><%= customer.last_name %></u>
             <% end %>
           </td>
           <td><%= customer.email %></td>
           <td><%= customer.is_deleted ? '退会' : '有効'  %></td>
        </tr>
        <% end %>
      </tbody>
    </div>
  </table><br>
<div class="footer container col-md-6 offset-md-3 py-2">
  <div class="pagination justify-content-center">
    <u><%= paginate @customers %></u>
  </div>
</div>