<div class="container mt-5">
  <div class="row"><h1>配送先登録/一覧</h1>
  </div>
  <div class="row">
    <%= form_with model:@shipping_address, url: '/shipping_addresses', method: :post, local:true do |f| %>
      <p>郵便番号(ハイフンなし) 　　<%= f.text_field :post_code %></p>
      <p>住所　　　　　　　　　　　<%= f.text_field :address, size: 50 %></p>
      <p>宛名　　　　　　　　　　　<%= f.text_field :name %>
      <%= f.submit '新規登録', class: "btn btn-sm btn-success" %>
      </p>

    <% end %>
  </div>
  <div class="row mt-5">
    <div class="col-9">
      <table class = "table table-bordered">
        <thead class bgcolor="#efefef">
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @shipping_addresses.each do |shipping_address| %>
            <tr>
              <td>〒<%= shipping_address.post_code.to_s.insert(3, "-") %></td>
              <td><%= shipping_address.address %></td>
              <td><%= shipping_address.name %></td>
              <td class="center">
                  <%= link_to "編集する", edit_shipping_address_path(shipping_address.id), class:"btn btn-success btn-md" %>
                  <%= link_to "削除", shipping_address_path(shipping_address.id), class:"btn btn-danger btn-md ml-2", method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>







