<div class="dark">注文情報入力</div>

<div>
  支払方法
</div>

<%= form_with model: @order, url: confirm_orders_path, method: :post, local: true do |f| %>

<div>
  <%= f.radio_button :payment_method, "credit_card" %>
  <%= f.label :payment_method, "クレジットカード" %>
</div>

<div>
  <%= f.radio_button :payment_method, "transfer" %>
  <%= f.label :payment_method, "銀行振込" %>
</div>

<div>
  お届け先
</div>

<div>
  <%= f.radio_button :address_number, 1 %>
  <%= f.label :address_number_1, "ご自身の住所" %>
</div>

  <div>
    〒<%= current_customer.post_code %>
    <%= current_customer.address %>
  </div>
  <div>
    <%= current_customer.first_name %>
    <%= current_customer.last_name %>
  </div>

<div>
  <%= f.radio_button :address_number, 2 %>
  <%= f.label :address_number_2, "登録済住所から選択" %></br>
  <%= f.select :address_id, options_from_collection_for_select(@addresses, :id, :address_display) %>
</div>

<div>
  <%= f.radio_button :address_number, 3 %>
  <%= f.label :address_number_3, "新しいお届け先" %>
</div>

 <table>
  <thead>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
  <tr>
    <td><%= f.label :post_code, "郵便番号(ハイフンなし)" %></td>
    <td>
      <%= f.text_field :post_code %>
    </td>
  </tr>
  <tr>
    <td><%= f.label :address, "住所" %></td>
    <td>
      <%= f.text_field :address %>
    </td>
  </tr>
  <tr>
    <td><%= f.label :name, "宛名" %></td>
    <td>
      <%= f.text_field :name %>
    </td>
  </tr>
  </tbody>
  </table>

<div class="field col-sm-12 text-center mt-2">
<%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
</div>

  <% end %>