<div class="dark">注文情報確認</div>

<% @cart_items.each do |cart| %>

<table class="table table-bordered">

  <thead class="thead-dark">

    <tr>

    <th>
      商品名
     </th>
     <th>
      単価(税込)
     </th>
     <th>
      数量
     </th>
     <th>
      小計
     </th>

    </tr>

  </thead>

  <tbody>
    <tr>
      <td>

        <%= cart.item.name %>
      </td>
      <td>
        <%= (cart.item.price).to_s(:delimited) %>
      </td>
      <td>
        <%= cart.amount %>
      </td>
      <td>
        <%= (cart.item.price*cart.amount).to_s(:delimited) %>
      </td>

    </tr>

  </tbody>

</table>

<% end %>

<table class="table table-bordered">

  <thead  class="thead-dark">

    <tr>
     <th>
      送料
     </th>
    </tr>

    <tr>
     <th>
      商品合計
     </th>
    </tr>

    <tr>
     <th>
      請求金額
     </th>
    </tr>

  </thead>
  <tbody>

    <tr>
     <td>
       800円
     </td>
    </tr>

    <tr>
     <td>
       <%= @total.round.to_s(:delimited)%>
     </td>
    </tr>

    <tr>
      <td>
        <%= @total.to_s(:delimited) %>
      </td>
    </tr>

  </tbody>
</table>

<h2>支払方法</h2>

<h2>お届け先</h2>

<%= link_to '注文を確定する', thanks_orders_path(thanks_orders), class: "btn btn-sm btn-success" %>