<div class="container ml-4 mt-5">
  <div class="row">
    <div class="col-lg-3">
        <table class="table table-bordered ml-1">
            <thead>
                <th>ジャンル一覧</th>
            </thead>
            <tbody>
                <% @genres.each do |genre| %>
                <tr>
                   <th><%= genre.name %></th>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-5">
          <%= image_tag @item.image, size: "250" %>
        </div>
        <div class="col-lg-7">
        　<div class="mb-1">
          　<h1><%= @item.name %></h1>
          　<h4><%= @item.introduction %></h4>
          　<div><strong class="h2">¥<%= @item.with_tax_price.to_s(:delimited) %></strong><small>（税込）</small></div>
        　</div>

        　<div class="text-danger"><%= notice %></div>
      　　<%= form_with model: @cart_item, url: cart_items_path, method: :post, local:true do |f| %>
          　<%= f.select :amount, options_for_select((1..10).to_a), include_blank: "個数選択" %>
          　<% if customer_signed_in? %>
          　 <%= f.submit "カートに入れる", class: " btn btn-success" %>
          　<% else %>
          　 <%= link_to "カートに入れる", new_customer_session_path, class: "btn btn-success" %>
          　<% end %>
          　<%= f.hidden_field :item_id, :value => @item.id %>

          　<!--遷移時に必要だが、ユーザーには見せないから-->
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>